node_modules/
.netlify/
.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# OS artifacts
Thumbs.db
Desktop.ini

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
# Local Netlify folder
.netlify
